{%extends "layout.html"%}
{% import "macros/activity-fields.html" as field_macros %}
{% block content %}
<div class="container-xl">
    <form method="POST" action="">
        {# send CSRF token #}
        {{ form.hidden_tag() }}

        <div class="page-header d-print-none" aria-label="Page header">
            <div class="row g-2 align-items-center">
                <div class="col">
                    <div class="page-pretitle">Profile</div>
                    <h2 class="page-title">Edit Outfit</h2>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="btn-list">
                        <a href="{{ url_for('settings_outfits_list') }}" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M18 6l-12 12"></path>
                                <path d="M6 6l12 12"></path>
                            </svg>
                            Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                                <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                                <path d="M14 4l0 4l-6 0l0 -4"></path>
                            </svg>
                            Save Outfit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mt-3">
            <div class="card-header">
                <h3 class="card-title">Outfit Details</h3>
            </div>
            <div class="card-body">
                {#
                {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
                {% else %}
                <div class="alert alert-success">No errors</div>
                {% endif %}
                #}

                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label required">Name</label>
                            {% if form.name.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {{ form.name(class="form-control") }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label required">Activity Type</label>
                            {% if form.activity_type.errors %}
                            <div class="invalid-feedback d-block">
                                {% for error in form.activity_type.errors %}
                                <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                            {% endif %}
                            {{ form.activity_type(class="form-select") }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {{ field_macros.add_field(form.description) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
