{% import "macros/activity-fields.html" as field_macros %}


{%extends "layout.html"%}
{% block content %}
<form method="POST" action="" id="symptom-form">
    {# send CSRF token #}
    {{ form.hidden_tag() }}

<div class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">Symptoms</div>
                <h2 class="page-title">Add Sickness or Injury Symptom</h2>
            </div>
            <div class="col-auto ms-auto d-print-none">
                <div class="btn-list">
                    <a href="{{ url_for('update_activity', key=form.activity_key.data) }}" class="btn btn-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M18 6l-12 12"></path>
                            <path d="M6 6l12 12"></path>
                        </svg>
                        Cancel
                    </a>
                    <button type="submit" form="symptom-form" class="btn btn-primary">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-floppy" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <path d="M6 4h10l4 4v10a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2"></path>
                            <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path>
                            <path d="M14 4l0 4l-6 0l0 -4"></path>
                        </svg>
                        Add Symptom
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="card mb-3">
            <div class="card-body">
                <p class="text-muted">
                    Add symptoms related to sickness or injury for this activity.
                    This can be used to track how you felt during the activity and
                    to identify any patterns or trends in your health over time.

                    If symptom has associated body part, then it will be shown
                    in the health pages body map.
                </p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                {% endif %}

                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header card-header-light">
                                <h3 class="card-title">Symptom Details</h3>
                            </div>
                            <div class="card-body">
                                {{ field_macros.add_field(form.symptom) }}
                                {{ field_macros.add_field(form.side) }}
                                {{ field_macros.add_field(form.body_part) }}
                                {{ field_macros.add_field(form.health) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
