{%extends "layout.html"%}
{% block content %}

<div class="page-header d-print-none" aria-label="Page header">
    <div class="container-xl">
        <div class="row g-2 align-items-center">
            <div class="col">
                <div class="page-pretitle">Symptoms</div>
                <h2 class="page-title">Delete Sickness / Injury Symptom</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-body">
    <div class="container-xl">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="" id="delete-symptom-form">
                    {# send CSRF token #}
                    {{ form.hidden_tag() }}

                    <div class="card">
                        <div class="card-header card-header-light">
                            <h3 class="card-title">Confirm Deletion</h3>
                        </div>
                        <div class="card-body">
                            <div class="mb-3">
                                <p>Do you really want to delete this sickness / symptom?</p>
                                {% if name %}
                                <p class="mb-0 fw-bold">{{ name }}</p>
                                {% else %}
                                <div class="mb-2">
                                    <code>{{ key }}</code> [ <code>{{ index }}</code> ]
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex">
                                <a href="{{ url_for('update_activity', key=key) }}" class="btn btn-secondary">Cancel</a>
                                <button type="submit" class="btn btn-danger ms-auto">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-trash" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M4 7l16 0"></path>
                                        <path d="M10 11l0 6"></path>
                                        <path d="M14 11l0 6"></path>
                                        <path d="M5 7l1 12a2 2 0 0 0 2 2h8a2 2 0 0 0 2 -2l1 -12"></path>
                                        <path d="M9 7v-3a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v3"></path>
                                    </svg>
                                    Delete Symptom
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
